ru.itpc.trial.tests/obj/
ru.itpc.trial.tests/bin/
ru.itpc.trial/obj/
ru.itpc.trial/bin/
packages/
wiki/
[Oo]bj
[Bb]in
*.dat
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
TestResults
logs/*
!.gitkeep
node_modules
tmp
.idea
.DS_Store
bower_components
*.swp
*.mdf
*.ldf
npm-debug.log
TestResult.xml
ru.itpc.trial.userprefs
